body {
    margin: 0;
    font-family: sans-serif;
}
.page-header{
display: flex;
padding: 32px 0px;
justify-content: center;
align-items: center;
gap: 72px;
}
.main-navigation {
    display: inline;
}
.main-menu {
    display: inline;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}
.main-menu-item {
    display: inline;
    padding: 32px;
    
}
.main-menu-link {
    
    color: #3d3d3d;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
}
.pic {
display: block;
width: 100%;
height: auto;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 54%;
    padding: 88px 0px;
}
.subject {
color: #000;
text-align: center;
font-size: 48px;
}
.section {
  padding: 0px 0px 40px 0;
}

.content-desc{
    line-height: 150%;
    text-align: justify;
    font-size: 21px;
}
.content-desc-text{
   color:  #04959E;
}
.dropdown{
    padding: 0px; 
    line-height: 100%;
    height: 100%;



    
}
.dropdown-item{
color: #161616;
font-size: 18px;
line-height: 150%;
text-align: justify;
list-style-position: inside;

}
 .button{
padding: 10px 24px;
color: #FFF;
font-size: 18px;
line-height: 135%;
height: 135%;
background: #04959E;
margin: 0 auto ; 
display: block ; 
border: none;
}

.hr {
    height: 1px;
    align-self: stretch;
    
    
}
.footer{
display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
}
.footer-text {
color: #161616;
font-size: 18px;
line-height: 150%;
}